@model IEnumerable<FusionCharts.Charts.Chart>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <script src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
</head>
@*//Fusion Chart Render*@
<body>
    @foreach (var i in Model)
    {
        @Html.Raw(@i.Render());
    }
</body>
</html>


